/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

@font-face{
  font-family: 'Roboto Mono';
  src: url(/assets/fonts/static/RobotoMono-Regular.ttf) format("truetype");
}

h1{
  font-family: 'Roboto Mono';
}

/*body {*/
/*  padding-top: 56px;*/
/*}*/
